<!DOCTYPE html>
<html>
  <head>
    <title>PrettyThings</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="shortcut icon" href="https://pretty-things-seeds.s3-us-west-1.amazonaws.com/camera.png" type="image/x-icon" />
    <script src="https://kit.fontawesome.com/16f3b0a207.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
